<nav class="navbar navbar-expand-lg navbar-tm sticky-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <span class="brand-mark"><i class="fa-solid fa-compass"></i></span>
      <span>TripMood<span class="brand-ai"> AI</span></span>
    <% end %>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item"><%= link_to "Trips", trips_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Plan a day", new_trip_path, class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-circle-user me-1"></i><%= current_user.email.split("@").first %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "My trips", trips_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary px-3" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
